
name: documentation

on: 
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: |
          uv venv
          uv pip install stouputils[docs,data_science,redis]
      - name: Build version docs
        run: |
          uv run scripts/create_docs.py ${GITHUB_REF#refs/tags/v}
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
          keep_files: true
          force_orphan: false

